*.iml
.gradle
/local.properties

/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.kotlin/sessions
/.kotlin/errors
/.idea/pandoc.xml

.DS_Store
build/
/captures
.externalNativeBuild
.cxx
local.properties

backup/
release.jks
*.apk